.scrollable-posts {
  max-height: 60vh; /* Adjust the height as needed */
  overflow-y: auto;
}

.post-card {
  margin-bottom: 1rem;
}

html, body {
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.jumbotron {
  margin-top: 5rem; /* Adjust based on your fixed navbar height */
}

.container-fluid {
  width: 100%;
  padding: 0 2rem; /* Optional: adjust padding as needed */
}

.card.post-card {
  width: 100%;
}

input, textarea {
  width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .modal-body {
    text-align: center;
  }

  .scrollable-posts {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px;
  }
  
  .post-card {
    margin-bottom: 1rem;
  }